%p.card-title= t('.appreciate')

.card
  .row
    .column.card-column
      .number
        = Rating.count
      .word
        = t('.rating').pluralize Rating.count

      %hr
      .row
        .column#promoters{ class: "score-#{ find_nearest(Rating.promoters_percentage) }"}
          .number
            = number_to_percentage(Rating.promoters_percentage, precision: 0)
          .word
            = t('.promoters')
        .column.symbol -
        .column#detractors{ class: "score-#{ find_nearest(Rating.detractors_percentage * -1) }"}
          .number
            = number_to_percentage(Rating.detractors_percentage, precision: 0)
          .word
            = t('.detractors')
        .column.symbol =
    .column.card-column.center
      .dial
        = inline_svg('dial.svg', { class: "total-score-#{ find_nearest(Rating.nps) } rotation-#{ Rating.nps }"})
      .total-rating
        = Rating.nps
      .word
        =t('.nps')

