%p.card-title= t('.appreciate')

.card
  .row
    .column.left
      .number
        = Rating.count
      .word
        = t('.rating').pluralize Rating.count

      %hr
      .row
        .column.center#promoters
          .number
            = number_to_percentage(Rating.promoters_percentage, precision: 0)
          .word
            = t('.promoters')
        .column.equation_end.left#detractors
          .number
            = number_to_percentage(Rating.detractors_percentage, precision: 0)
          .word
            = t('.detractors')
    .column
      =t('.nps')
      = Rating.nps
