%p.card-title= t('.rate')

.card
  .with-padding
    .how-likely= t('.how_likely')
    .row.rating-row
      - 0.upto(10) do |i|
        = form_for Rating.new(score: i), html: { class: "new-rating new-rating-#{ i }" } do |f|
          = f.hidden_field :score
          = f.submit i
    %br
    .row.rating
      %span.bold
        = t('.very_unlikely')
      %span.bold
        = t('.very_likely')
