%h1 NPS-o-Matic

#nps_area
  #rate_area
    %p Rate!

    %p How likely would you be to recommend Acme Systems to a friend or colleague?

    - 0.upto(10) do |i|
      = form_for Rating.new(score: i) do |f|
        = f.hidden_field :score
        = f.submit i

  #appreciate_area
    %p Appreciate!

    #rate_tally
      = render :partial => "rating_area"

    %p NPS
    #nps_value
      = Rating.nps

  #nps_color_legend_area
    %p NPS Color Legend
