%h1 NPS-o-Matic

#nps_o_matic_area
  #rate_area
    %h2{:class => "heading"} Rate!

    #rating_form
      %p
        How likely would you be to recommend Acme
        %br
        Systems to a friend or colleague?

      - 0.upto(10) do |i|
        = form_for Rating.new(score: i), :namespace => "rating_#{i}" do |f|
          = f.hidden_field :score
          = f.submit i
      .likely_text
        %span{:class => "unlikely"} Very Unlikely
        %span{:class => "likely"}  Very Likely

  #appreciate_area
    %h2{:class => "heading"} Appreciate!

    #nps_values
      #rate_tally
        = render :partial => "rating_area"

      #nps_area
        %span{:class => 'nps_label'} NPS
        #nps_score
          = Rating.nps
        #nps_gauge

  #nps_color_legend_area
    %h2{:class => "heading"} NPS Color Legend
    = image_tag asset_pack_path('images/nps-gradient.svg')
