%h1= t('.title')

%p= t('.rate')

%p= t('.how_likely')

- 0.upto(10) do |i|
  = form_for Rating.new(score: i) do |f|
    = f.hidden_field :score
    = f.submit i


%p= t('.appreciate')

%p= pluralize Rating.count, 'Rating'


%p
  = number_to_percentage Rating.promoters_percentage
  =t('.promoters')

%p
  = number_to_percentage Rating.detractors_percentage
  =t('.detractors')

%p
  =t('.nps')
  = Rating.nps


%p= t('.color_legend')
