.heading
  %h1 NPS-o-Matic

#stats_container
  #rate_stats
    .sub_heading
      %p Rate!

    .stats_card
      .card_text
        %p How likely would you be to recommend Acme Systems to a friend or colleague?

      #rating_buttons
        - 0.upto(10) do |i|
          = form_for Rating.new(score: i), remote: true do |f|
            = f.hidden_field :score
            = f.submit i

  #appreciate_stats
    .sub_heading
      %p Appreciate!

    .stats_card
      .total_ratings
        %p
          = pluralize Rating.count, 'Rating'
      #hr_container
        %hr
      .percentage_container
        #promoter_stats
          .num_percent
            %p{:id => "promote_percent"}
              = Rating.promoters_percentage.to_s + '%'
          .num_descriptor
            %p Promoters
        .stat_math_syms
          %p -

        #detractor_stats
          .num_percent
            %p
              = Rating.detractors_percentage.to_s + '%'
          .num_descriptor
            %p Detractors
        .stat_math_syms
          %p =

        %p
          NPS
          = Rating.nps

#color_legend_text
  %p NPS Color Legend
#color_legend_bar
#color_legend_nums_container
  %p -100
  %p -75
  %p -50
  %p -25
  %p 0
  %p 25
  %p 50
  %p 75
  %p 100
