.nps
  %h1 NPS-o-Matic

  .rate-appreciate-section

    .rate-section
      %p.section-title Rate!

      .background-border-wrapper
        .rating-question How likely would you be to recommend Acme Systems to a friend or colleague?

        %ul.rating-form-section
          - 0.upto(10) do |i|
            %li{class: "rating-form-#{i}"}
              = form_for Rating.new(score: i),
                html: {class: "rating-form"} do |f|
                = f.hidden_field :score
                = f.submit i, :class => "submit-rating"

        .unlikely-likely-section
          %p Very Unlikely
          %p Very Likely


    .appreciate-section
      %p.section-title Appreciate!

      .background-border-wrapper

        .appreciate-item

          .ratings-count
            .ratings-count-number= Rating.count
            .ratings-count-text= 'Rating'.pluralize Rating.count

          .promoters-detractors
            .promoters.promoters-detractors-item
              .ratings-percentange= number_to_percentage Rating.promoters_percentage, strip_insignificant_zeros: true
              %span Promoters

            .operator-item.promoters-detractors-item -

            .detractors.promoters-detractors-item
              .ratings-percentange= number_to_percentage Rating.detractors_percentage, strip_insignificant_zeros: true
              %span Detractors

            .operator-item.promoters-detractors-item =

        .appreciate-item
          .nps-dial
            .dial-figure{class: "nps-score-#{Rating.nps}"}
            .dial-figure-score= Rating.nps
            %span NPS

  .nps-color-legend-section
    %p NPS Color Legend
    .nps-gradient
    %ul.nps-gradient-legend
      %li -100
      %li -75
      %li -50
      %li -25
      %li 0
      %li 25
      %li 50
      %li 75
      %li 100
